
@{
    Layout = null;
}

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=/UsersManager">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cover</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
        </style>
        <!-- Custom styles for this template -->
    </head>
    <body class="text-center">
        <div class="cover-container d-flex p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">GRACIAS POR REGISTRARSE</h3>
                    <nav class="nav nav-masthead justify-content-center">
                 </nav></div></header>
            <div><h6>Revisa ti correo para ver mas detalles de tu cuenta</h6>
            <h6>Se va reedirecnionar a la apagina principal</h6></div>
            <div role="main" class="inner cover">
                <h2 class="cover-heading">Calico Mail Services</h2>
                <p class="lead"><a href="https://localhost:44371/UserManager/Index" class="">Pagina Principal</a></p>
            </div></div></body>
    </html>