
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="text-center">
    <a href="/SendMails"   class="btn btn-outline-info p-4 m-3"><h5>Creacion de Contactos Usuarios</h5></a>
    <a href="UsersManager" class="btn btn-outline-info p-4 m-3"><h5>Registo Usuarios</h5></a>
    <a href="/SendMails"   class="btn btn-outline-info p-4 m-3"><h5>Envio de Correos</h5></a>
</div>
